In [7]:
import numpy as np
import pandas as pd

In [8]:
#path = 'C:/Users/noturno/turma2/MachineLearning/Datasests/'

In [9]:
path = '/home/marciobrener/Documentos/MachineLearning/arquivos_csv/'

# Aluguel resindecial

In [10]:
aluguel_residencial = pd.read_csv(path + 'aluguel_residencial.csv', sep=';')

In [11]:
aluguel_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

### Imports

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

# Transforms

In [13]:
labelenconder_tipo = LabelEncoder()
labelenconder_bairro = LabelEncoder()

In [14]:
aluguel_residencial['Tipo'] = labelenconder_tipo.fit_transform(aluguel_residencial['Tipo'])
aluguel_residencial['Bairro'] = labelenconder_bairro.fit_transform(aluguel_residencial['Bairro'])

In [15]:
aluguel_residencial

       Tipo  Bairro  Quartos  Vagas  Suites  Area   Valor  Condominio  IPTU
0         4      32        1      0       0    40  1700.0       500.0  60.0
1         1      69        2      0       1   100  7000.0         NaN   NaN
2         0      26        1      0       0    15   800.0       390.0  20.0
3         0      55        1      0       0    48   800.0       230.0   NaN
4         0     151        3      1       0    70  1200.0         NaN   NaN
...     ...     ...      ...    ...     ...   ...     ...         ...   ...
22575     0      88        2      0       0    70   900.0       490.0  48.0
22576     4      26        0      0       0    27   800.0       350.0  25.0
22577     0      66        3      1       2    78  1800.0       800.0  40.0
22578     0     130        2      1       0    48  1400.0       509.0  37.0
22579     0      79        2      0       0    70  3000.0       760.0   NaN

[22580 rows x 9 columns]

#### Valores nulos

In [16]:
nulos = aluguel_residencial.isna().sum()
print(nulos)

Tipo             0
Bairro           0
Quartos          0
Vagas            0
Suites           0
Area             0
Valor            9
Condominio    1815
IPTU          6785
dtype: int64

In [17]:
aluguel_residencial['Condominio'].fillna(int(aluguel_residencial['Condominio'].median()), inplace = True)
aluguel_residencial['Valor'].fillna(int(aluguel_residencial['Valor'].median()), inplace = True)
aluguel_residencial['IPTU'].fillna(int(aluguel_residencial['IPTU'].median()), inplace = True)

/tmp/ipykernel_109448/2139420110.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  aluguel_residencial['Condominio'].fillna(int(aluguel_residencial['Condominio'].median()), inplace = True)
/tmp/ipykernel_109448/2139420110.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  aluguel_residencial['Valor'].fillna(int(aluguel_residencial['Valor'].median()), inplace = True)
/tmp/ipykernel_109448/2139420110.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  aluguel_residencial['IPTU'].fillna(int(aluguel_residencial['IPTU'].median()), inplace = True)

In [18]:
nulos = aluguel_residencial.isna().sum()
print(nulos)

Tipo          0
Bairro        0
Quartos       0
Vagas         0
Suites        0
Area          0
Valor         0
Condominio    0
IPTU          0
dtype: int64

In [19]:
aluguel_residencial

       Tipo  Bairro  Quartos  Vagas  Suites  Area   Valor  Condominio   IPTU
0         4      32        1      0       0    40  1700.0       500.0   60.0
1         1      69        2      0       1   100  7000.0       940.0  220.0
2         0      26        1      0       0    15   800.0       390.0   20.0
3         0      55        1      0       0    48   800.0       230.0  220.0
4         0     151        3      1       0    70  1200.0       940.0  220.0
...     ...     ...      ...    ...     ...   ...     ...         ...    ...
22575     0      88        2      0       0    70   900.0       490.0   48.0
22576     4      26        0      0       0    27   800.0       350.0   25.0
22577     0      66        3      1       2    78  1800.0       800.0   40.0
22578     0     130        2      1       0    48  1400.0       509.0   37.0
22579     0      79        2      0       0    70  3000.0       760.0  220.0

[22580 rows x 9 columns]

In [20]:
aluguel_residencial.hist(bins = 9, figsize=(20,20), color = "r")

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.1 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/usr/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/usr/lib/python3/dist-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/usr/lib/python3/dist-packages/traitlets/config/application.py", line 846, in launch_instance
    app.start()
  File "/usr/lib/python3/dist-packages/ipykernel/kernelapp.py", line 677, in start
    self.io_loop.start()
  File "/usr/lib/python3/dist-packages/tornado/platform/asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 1909, in _run_once
    handle._run()
  File "/usr/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 461, in dispatch_queue
    await self.process_one()
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 450, in process_one
    await dispatch(*args)
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 357, in dispatch_shell
    await result
  File "/usr/lib/python3/dist-packages/ipykernel/kernelbase.py", line 652, in execute_request
    reply_content = await reply_content
  File "/usr/lib/python3/dist-packages/ipykernel/ipkernel.py", line 353, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/usr/lib/python3/dist-packages/ipykernel/zmqshell.py", line 532, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 2914, in run_cell
    result = self._run_cell(
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 2960, in _run_cell
    return runner(coro)
  File "/usr/lib/python3/dist-packages/IPython/core/async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3185, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3377, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_109448/742727595.py", line 1, in <module>
    aluguel_residencial.hist(bins = 9, figsize=(20,20), color = "r")
  File "/home/marciobrener/.local/lib/python3.10/site-packages/pandas/plotting/_core.py", line 250, in hist_frame
    plot_backend = _get_plot_backend(backend)
  File "/home/marciobrener/.local/lib/python3.10/site-packages/pandas/plotting/_core.py", line 1944, in _get_plot_backend
    module = _load_backend(backend_str)
  File "/home/marciobrener/.local/lib/python3.10/site-packages/pandas/plotting/_core.py", line 1872, in _load_backend
    module = importlib.import_module("pandas.plotting._matplotlib")
  File "/usr/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "/home/marciobrener/.local/lib/python3.10/site-packages/pandas/plotting/_matplotlib/__init__.py", line 5, in <module>
    from pandas.plotting._matplotlib.boxplot import (
  File "/home/marciobrener/.local/lib/python3.10/site-packages/pandas/plotting/_matplotlib/boxplot.py", line 10, in <module>
    from matplotlib.artist import setp
  File "/usr/lib/python3/dist-packages/matplotlib/__init__.py", line 109, in <module>
    from . import _api, _version, cbook, docstring, rcsetup
  File "/usr/lib/python3/dist-packages/matplotlib/rcsetup.py", line 27, in <module>
    from matplotlib.colors import Colormap, is_color_like
  File "/usr/lib/python3/dist-packages/matplotlib/colors.py", line 56, in <module>
    from matplotlib import _api, cbook, scale
  File "/usr/lib/python3/dist-packages/matplotlib/scale.py", line 23, in <module>
    from matplotlib.ticker import (
  File "/usr/lib/python3/dist-packages/matplotlib/ticker.py", line 136, in <module>
    from matplotlib import transforms as mtransforms
  File "/usr/lib/python3/dist-packages/matplotlib/transforms.py", line 46, in <module>
    from matplotlib._path import (

AttributeError: _ARRAY_API not found

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [ ]:
aluguel_residencial.info()

# Distribuição normal de valores

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
aluguel_residencial['Valor'] = scaler.fit_transform(aluguel_residencial[['Valor']])
aluguel_residencial['Condominio'] = scaler.fit_transform(aluguel_residencial[['Condominio']])
#aluguel_residencial['IPTU'] = scaler.fit_transform(aluguel_residencial[['IPTU']])

In [ ]:
aluguel_residencial

In [ ]:
aluguel_residencial['Valor']

In [ ]:

aluguel_residencial['Condominio'].hist()

# 70/30

In [ ]:
X_aluguel_residencial = aluguel_residencial.drop('IPTU',axis =1 )
Y_aluguel_residencial = aluguel_residencial['IPTU']
X_aluguel_residencial.shape, Y_aluguel_residencial.shape

In [ ]:
X_aluguel_residencial.info()

In [ ]:
X_train_aluguel_residencial,X_test_aluguel_residencial, Y_train_aluguel_residencial,Y_test_aluguel_residencial = train_test_split(
    X_aluguel_residencial,Y_aluguel_residencial,
    test_size = 0.30,
    random_state = 0
)

In [ ]:
modelos_de_regressao = {
    'Linear Regression': LinearRegression(),
    'Logistic Regression': LogisticRegression(),
    'Random Forest Regressor': RandomForestRegressor(n_estimators=100, random_state = 0 ),
    'Decision Tree Regressor': DecisionTreeRegressor(random_state = 0)
}

# Resultados regressão

In [ ]:
resultados_rg = {
    'Modelo': [],
    'Score': []
}

In [ ]:
for nome_modelo, modelo in  modelos_de_regressao.items():
    modelo.fit(X_train_aluguel_residencial,Y_train_aluguel_residencial)
    y_preds_regression = modelo.predict(X_test_aluguel_residencial)
    mse_regression = mean_squared_error(Y_test_aluguel_residencial,y_preds_regression)
    r2_score_regression = r2_score(Y_test_aluguel_residencial,y_preds_regression)
    resultados_rg['Modelo'].append(nome_modelo)
    resultados_rg['Score'].append(r2_score_regression)

    print(f'\n==== {nome_modelo} =====')
    print('MSE: ', mse_regression)
    print('r2_score: ', r2_score_regression)
    print('-' * 80)